.about-body {
  background-color: #282c34;
  height: 100%;
  padding-top: 70px;
  /* display: block; */
  /* flex-direction: column; */
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

p {
  text-align: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.about-list {
  display: inline-block;
  text-align: left;
}
html {
  background-color: #282c34;
}



p {
  max-width: 75%;
  margin: auto;
}