.App-header {
  background-color: #282c34;
  height: 60px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
html {
  background-color: #282c34;
}
.App-body {
  background-color: #282c34;
  height: 100%;
  padding-top: 70px;
  /* display: block; */
  /* flex-direction: column; */
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  margin-bottom: 100px;
  display: inline-block;
}

p {
  max-width: 75%;
  text-align: left;
  margin: auto;
}

.App-link {
  color: #61dafb;
}
